<div class="hd logodiv">
    <%- image_tag(theme.gender,{class: 'logopng', alt: 'logo'}) %>
    <p class="logot">
         <%= theme.logo_title %> 
         <span class="logo_2"></span>
        <h3 class="words" style="font-weight: bold;font-family: Georgia;"> 
            <%= theme.words %> 
        </h3>
    </p>
</div>

<%- partial('_partial/nav') %>
<div class="hd">
    <% var last; %>
    <% page.posts.each(function (post) { %>
        <% var year = post.date.year(); %>
        <% if (last != year){ %>
            <div class="titlex">
                <p><span class="jing"></span><span style="color: #6d9ee7;"> 公元</span> 
                 <%= year %>年 🕛
                </p>
            </div>
            <% last = year; %>
        <% } %>
        <a class="flink" href="<%- url_for(post.path) %>">
            <div class="list">
                <div class="postname">
                    <%= post.title %>
                </div>
                <div class="posttime">
                    <%- full_date(post.date, 'MMMM Do') %>
                </div>
            </div>
        </a>
    <% }) %>
</div>
