<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="TZE0rZyIqLl10trYu3BWBWa1Vmz6HFwhb2OcNEK4u-s" />
     <link rel="shortcut icon" href= <%= theme.favicon %> >
    <title>
        <%= config.title %>
    </title>
    <meta name="description" content= <%- theme.description %> >
    <meta name="keywords" content= <%- theme.keywords %> >
    <%- css('libs/highlight/styles/monokai-sublime.css') %>
    <%- css('libs/font-awesome/css/font-awesome.min.css') %>
    <%- css('css/style.css') %>
</head>